# Sensitive and private files 
.env 
*.env 
.env.* 
example_dot_env 
media/ 
tts_cache/ 
myenv/ 
venv/ 
.venv/ 
env/ 
__pycache__/ 
*.pyc 
.DS_Store 
node_modules/ 
*.log 
db.sqlite3 
.pytest_cache/ 
.coverage 
servvia/* 
!servvia/.gitkeep 
servvia-backend/* 
!servvia-backend/.gitkeep 
*.env 
media/ 
myenv/ 
__pycache__/ 
db.sqlite3 
