.env
*.env
.env.*
example_dot_env
media/
myenv/
venv/
.venv/
env/
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/
db.sqlite3
tts_cache/
*.log
.DS_Store
node_modules/
.vscode/
/tests/test_files/
/tests/test_data/
/tests/image/
/migrations/ 
